<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">

	<!-- springmvc的配置文件，包含网站跳转逻辑的控制，配置 -->
	<context:component-scan base-package="com.xxgc.controller"/>
	

	
	<!-- 视图解析器:简化在Controller类编写的视图路径 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/views/"/>
		<!-- 后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置上传文件的大小5M -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>
	
	<!-- 两个标准配置 -->
	<!-- 将springmvc不能处理的请求交给tomcat -->
	<mvc:default-servlet-handler/>
	<mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/fontawesome/**" location="/fontawesome/"/>
    <mvc:resources location="/fonts/" mapping="/fonts/**"/>
    <mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/kuzwlu/" mapping="/kuzwlu/**"></mvc:resources>
	<mvc:resources location="/JQ/" mapping="/JQ/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/img/" mapping="/img/**"/>
	<mvc:resources location="/head/" mapping="/head/**"/>
	<mvc:resources location="/headimage/" mapping="/headimage/**"/>
	<mvc:resources location="/sweetalert/" mapping="/sweetalert/**"/>
	<mvc:resources location="/upload/" mapping="/upload/**"/>
	<!-- 能支持springmvc更高级的一些功能 -->
	<mvc:annotation-driven/>
	
	
	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截所有ywjb目录下面的页面 -->
			<mvc:mapping path="/**"/>
			<!-- mvc:exclude-mapping是另外一种拦截，它可以在你后来的测试中对某个页面进行不拦截，这样就不用在
				LoginInterceptor的preHandler方法里面获取不拦截的请求uri地址了(优选) -->
			<mvc:exclude-mapping path="/login" />
			<mvc:exclude-mapping path="/code"/>
			<mvc:exclude-mapping path="/autologin"/>
			<mvc:exclude-mapping path="/loginout"/>
			<mvc:exclude-mapping path="/background/**"/>
			<mvc:exclude-mapping path="/index/**"/>
			<bean class="com.xxgc.interceptor.LoginInterceptor"></bean>			
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>